<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001284026087-u49mu0airs7h98s2k4k17bru5gqcign7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001284026087-u49mu0airs7h98s2k4k17bru5gqcign7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1001284026087-n0p1j3h0m3s9rdmplt8eqr6dvie2mks8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkat6Y2Zu2nHZxAvdGl-4MiR5k-Tmj2cI</string>
	<key>GCM_SENDER_ID</key>
	<string>1001284026087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oscgre.probusacademy</string>
	<key>PROJECT_ID</key>
	<string>probusaca-push</string>
	<key>STORAGE_BUCKET</key>
	<string>probusaca-push.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001284026087:ios:dd064853751f8fa4032c42</string>
	<key>DATABASE_URL</key>
	<string>https://probusaca-push.firebaseio.com</string>
</dict>
</plist>